#
# OpenSSL configuration for generation of personal certificate signing requests.
#
# Environment variable '$emailAddress' **MUST** be defined or else OpenSSL
# aborts.

emailAddress    = $ENV::emailAddress
HOME            = $ENV::HOME/.ssl
RANDFILE        = $ENV::HOME/.rnd
oid_section     = new_oids

[ new_oids ]
id-on-xmppAddr  = 1.3.6.1.5.5.7.8.5

[ req ]
default_bits        = 2048
default_keyfile     = $HOME/${emailAddress}.key
encrypt_key         = yes
default_md          = sha256
req_extensions      = req_extensions
prompt              = no
distinguished_name  = req_distinguished_name
string_mask         = utf8only
utf8                = yes

[ req_extensions ]
keyUsage                = digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage        = clientAuth, emailProtection
subjectKeyIdentifier    = hash
subjectAltName          = @subj_alt_names

[ req_distinguished_name ]
countryName             = 
stateOrProvinceName     = 
localityName            = 
commonName              = 
emailAddress            = $ENV::emailAddress
id-on-xmppAddr          = 

[ subj_alt_names ]
email       = emailAddress:copy
otherName   = id-on-xmppAddr;UTF8:id-on-xmppAddr:copy
