[Unit]
Description=Run borgmatic user data backup

[Timer]
# Schedule the start of the sevice to every day at midnight.
OnCalendar=daily

# Delay the start of the service by a radmon time of up to 6 hours
RandomizedDelaySec=6h

# Only wake up the system for this service after 8 hours or more.
#AccuracySec=8h

# Catch up on missed runs of the service when the system was powered down.
Persistent=true

[Install]
WantedBy=timers.target
